* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f5f4f0;
  --border: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;

  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: var(--text-primary);
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

.headline {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

.subtitle {
  font-size: 1rem;
  font-style: italic;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
