* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f5f4f0;
  --border: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;

  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: var(--text-primary);
}

body {
  background-color: var(--background);
}

.subtitle {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  margin-top: 1.5rem;
}

.page {
  width: 1120px;
  margin: 5.5rem auto;
}

.page__footer-text {
  text-align: center;
}

.hero__highlight,
.content-section__highlight {
  color: var(--accent-pink);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.hero__title {
  font-size: 2.25rem;
  font-weight: bold;
}

.hero__caption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  margin-top: 1.5rem;
}

.hero__image,
.content-section__image {
  border-radius: 2rem;
  margin-top: 2.5rem;
  width: 100%;
}

.content-section__title {
  font-size: 2rem;
  font-weight: bold;
}

.content-section__subtitle {
  margin-top: 1.25rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.content-section__text {
  font-size: 1rem;
  font-weight: normal;
}

.content-section__image {
  max-height: 350px;
  object-fit: cover;
  object-position: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 2.25rem 0;
  background-color: var(--border);
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 2rem;
  }

  .content-section__title {
    font-size: 1.75rem;
  }

  .content-section__subtitle {
    font-size: 1.5rem;
  }
}
